body .layui-ext-yourskin .layui-layer-btn{background: #000;}
body .layer-ext-yourskin .layui-layer-title{background: #000;color:#FF0000;}

body .layui-ext-yourskin .layui-layer-btn .layui-layer-btn0{border-color: #000;background-color: #000;}


body .layui-ext-yourskin .layui-layer-btn {color:#ff0000;!important}