{extend name="Public/base" /}
{block name="body"}
<div class="row">
    <div class="col-md-12">
        <form id="dataform" action="{:url('Privilege/edit')}" method="post" class="form-horizontal form">

            <div class='panel panel-default'>
                <div class='panel-heading'>
                    编辑权限
                </div>
                <div class='panel-body'>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>
                            权限名称</label>
                        <div class="col-sm-3 col-xs-12">
                            <input type="text" id="name" name="name" class="form-control" value="{$row.name}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">模块</label>
                        <div class="col-sm-3 col-xs-12">
                            <select class="form-control" id='moudle' name="moudle">
                                <option value="">请选择：</option>
                                <option value="admin" {eq name="row.moudle" value="admin"}selected{/eq}>admin</option>
                                <option value="home" {eq name="row.moudle" value="home"}selected{/eq}>home</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">控制器</label>
                        <div class="col-sm-3 col-xs-12">
                            <select class="form-control" id='controller' name="controller">
                                <option value="">请选择：</option>
                                {foreach $controllers as $controller}
                                <option value="{$controller}" {if condition="$row['controller'] == $controller"}selected{/if}>{$controller}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">方法</label>
                        <div class="col-sm-3 col-xs-12">
                            <select class="form-control" id='function' name="function">
                                <option value="">请选择：</option>
                                {foreach $functions as $function}
                                <option value="{$function}" {if condition="$row['function'] == $function"}selected{/if}>{$function}</option>
                                {/foreach}
                            </select>
                        </div>
                        <div class="col-sm-6 col-xs-12" style="color: red;    line-height: 34px;">
                            注：一级菜单权限模块和控制器不用选，方法请选&nbsp;*&nbsp;
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>
                            代码</label>
                        <div class="col-sm-3 col-xs-12">
                            <input type="text"  name="code" class="form-control" value="{$row.code}" />
                        </div>
                        <div class="col-sm-6 col-xs-12" style="color: red;    line-height: 34px;">
                            注：与菜单的关联权限代码相对应
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">
                            权限说明</label>
                        <div class="col-sm-3 col-xs-12">
                            <textarea type="text"  name="remark" class="form-control" >{$row.remark}</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                        <div class="col-sm-9 col-xs-12">
                            <h4><p id="errorTip" class="text-danger" style="font-weight:600 "></h4>
                            <input type="hidden" name="id" value="{$row.id}">
                            <input type="submit" id="subBtn" value="提交" class="btn btn-primary col-lg-1" style="height: auto;width: auto;"/>
                            <input type="button" name="back" onclick='history.back()' value="返回列表"
                                   class="btn btn-default" style="height: auto;width:auto;margin-left: 10px;"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script src="/static/jquery.form.min.js"></script>
<script>
    $("#dataform").ajaxForm({
        dataType:  'json',
        success: function (rJson) {
            layer.alert(rJson.info, {
                skin: 'layui-layer-lan'
            });

            if(rJson.success){
                location.href="{:url('index')}";
            }
        }
    });

</script>
<script>
    $('#moudle').change(function(){
        var moudle = $(this).val();
        var str = '<option value="">请选择：</option>';
        if(moudle != ''){
            $.ajax({
                async:false,
                type: "POST",
                url: "/index.php/admin/Privilege/getControllerAjax",
                dataType: "json",
                data: {
                    moudle:moudle
                },
                success: function (data) {

                    $('#controller').html(getstr(data));
                    str += '<option value="*">*</option>';
                    $('#function').html(str);
                    $("input[name='code']").val(moudle);
                }

            });
        }else{
            $('#controller').html(str);
            $('#function').html(str);
        }
    });

    $('#controller').change(function(){
        var controller = $(this).val();
        var moudle = $('#moudle').val();
        var str = '<option value="">请选择：</option>';
        if(controller != ''){
            $.ajax({
                async:false,
                type: "POST",
                url: "/index.php/admin/Privilege/getFunctionAjax",
                dataType: "json",
                data: {
                    moudle:moudle,
                    controller:controller
                },
                success: function (data) {

                    $('#function').html(getstr(data));
                    $("input[name='code']").val(moudle +'.'+ controller);
                }
            });
        }else{
            $('#function').html(str);
        }
    });

    $('#function').change(function(){
        moudle = $('#moudle').val();
        controller = $('#controller').val();
        functions = $(this).val();

        $("input[name='code']").val(moudle +'.'+ controller +'.'+ functions);
    });

    function getstr(data){
        var str = '<option value="">请选择：</option>';
        for(var i=0;i<data.length;i++)
        {
            str +="<option value='"+data[i]+"'>"+data[i]+'</option>';
        }
        return str
    }
</script>
{/block}